InterfazSeguimiento/web/WEB-INF/wsdl/localhost_8080/SeguimientoPPP/WS_SeguimientoPPP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Vista/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Vista/" name="WS_SeguimientoPPP">
<types>
<xsd:schema>
<xsd:import namespace="http://proyecto/Modelo" schemaLocation="http://localhost:8080/SeguimientoPPP/WS_SeguimientoPPP?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://Vista/" schemaLocation="http://localhost:8080/SeguimientoPPP/WS_SeguimientoPPP?xsd=2"/>
</xsd:schema>
</types>
<message name="ModificarCoordinacion">
<part name="parameters" element="tns:ModificarCoordinacion"/>
</message>
<message name="ModificarCoordinacionResponse">
<part name="parameters" element="tns:ModificarCoordinacionResponse"/>
</message>
<message name="ModificarFichaSeguimiento">
<part name="parameters" element="tns:ModificarFichaSeguimiento"/>
</message>
<message name="ModificarFichaSeguimientoResponse">
<part name="parameters" element="tns:ModificarFichaSeguimientoResponse"/>
</message>
<message name="NuevoDocenteAsesor">
<part name="parameters" element="tns:NuevoDocenteAsesor"/>
</message>
<message name="NuevoDocenteAsesorResponse">
<part name="parameters" element="tns:NuevoDocenteAsesorResponse"/>
</message>
<message name="EliminarCoordinacion">
<part name="parameters" element="tns:EliminarCoordinacion"/>
</message>
<message name="EliminarCoordinacionResponse">
<part name="parameters" element="tns:EliminarCoordinacionResponse"/>
</message>
<message name="ModificarDocenteAsesor">
<part name="parameters" element="tns:ModificarDocenteAsesor"/>
</message>
<message name="ModificarDocenteAsesorResponse">
<part name="parameters" element="tns:ModificarDocenteAsesorResponse"/>
</message>
<message name="MostrarDocenteAsesor">
<part name="parameters" element="tns:MostrarDocenteAsesor"/>
</message>
<message name="MostrarDocenteAsesorResponse">
<part name="parameters" element="tns:MostrarDocenteAsesorResponse"/>
</message>
<message name="EliminarEmpresa">
<part name="parameters" element="tns:EliminarEmpresa"/>
</message>
<message name="EliminarEmpresaResponse">
<part name="parameters" element="tns:EliminarEmpresaResponse"/>
</message>
<message name="ListarDocenteAsesor">
<part name="parameters" element="tns:ListarDocenteAsesor"/>
</message>
<message name="ListarDocenteAsesorResponse">
<part name="parameters" element="tns:ListarDocenteAsesorResponse"/>
</message>
<message name="ModificarEmpresa">
<part name="parameters" element="tns:ModificarEmpresa"/>
</message>
<message name="ModificarEmpresaResponse">
<part name="parameters" element="tns:ModificarEmpresaResponse"/>
</message>
<message name="NuevoEstudiante">
<part name="parameters" element="tns:NuevoEstudiante"/>
</message>
<message name="NuevoEstudianteResponse">
<part name="parameters" element="tns:NuevoEstudianteResponse"/>
</message>
<message name="NuevoFichaSeguimiento">
<part name="parameters" element="tns:NuevoFichaSeguimiento"/>
</message>
<message name="NuevoFichaSeguimientoResponse">
<part name="parameters" element="tns:NuevoFichaSeguimientoResponse"/>
</message>
<message name="EliminarInforme">
<part name="parameters" element="tns:EliminarInforme"/>
</message>
<message name="EliminarInformeResponse">
<part name="parameters" element="tns:EliminarInformeResponse"/>
</message>
<message name="EliminarFichaSeguimiento">
<part name="parameters" element="tns:EliminarFichaSeguimiento"/>
</message>
<message name="EliminarFichaSeguimientoResponse">
<part name="parameters" element="tns:EliminarFichaSeguimientoResponse"/>
</message>
<message name="EliminarEstudiante">
<part name="parameters" element="tns:EliminarEstudiante"/>
</message>
<message name="EliminarEstudianteResponse">
<part name="parameters" element="tns:EliminarEstudianteResponse"/>
</message>
<message name="MostrarEstudiante">
<part name="parameters" element="tns:MostrarEstudiante"/>
</message>
<message name="MostrarEstudianteResponse">
<part name="parameters" element="tns:MostrarEstudianteResponse"/>
</message>
<message name="ListarFichaSeguimiento">
<part name="parameters" element="tns:ListarFichaSeguimiento"/>
</message>
<message name="ListarFichaSeguimientoResponse">
<part name="parameters" element="tns:ListarFichaSeguimientoResponse"/>
</message>
<message name="MostrarEmpresa">
<part name="parameters" element="tns:MostrarEmpresa"/>
</message>
<message name="MostrarEmpresaResponse">
<part name="parameters" element="tns:MostrarEmpresaResponse"/>
</message>
<message name="MostrarFichaSeguimiento">
<part name="parameters" element="tns:MostrarFichaSeguimiento"/>
</message>
<message name="MostrarFichaSeguimientoResponse">
<part name="parameters" element="tns:MostrarFichaSeguimientoResponse"/>
</message>
<message name="ModificarEstudiante">
<part name="parameters" element="tns:ModificarEstudiante"/>
</message>
<message name="ModificarEstudianteResponse">
<part name="parameters" element="tns:ModificarEstudianteResponse"/>
</message>
<message name="ListarEstudiante">
<part name="parameters" element="tns:ListarEstudiante"/>
</message>
<message name="ListarEstudianteResponse">
<part name="parameters" element="tns:ListarEstudianteResponse"/>
</message>
<message name="MostrarCoordinacio">
<part name="parameters" element="tns:MostrarCoordinacio"/>
</message>
<message name="MostrarCoordinacioResponse">
<part name="parameters" element="tns:MostrarCoordinacioResponse"/>
</message>
<message name="ModificarInforme">
<part name="parameters" element="tns:ModificarInforme"/>
</message>
<message name="ModificarInformeResponse">
<part name="parameters" element="tns:ModificarInformeResponse"/>
</message>
<message name="ListarCoordinacion">
<part name="parameters" element="tns:ListarCoordinacion"/>
</message>
<message name="ListarCoordinacionResponse">
<part name="parameters" element="tns:ListarCoordinacionResponse"/>
</message>
<message name="NuevoCCoordinacion">
<part name="parameters" element="tns:NuevoCCoordinacion"/>
</message>
<message name="NuevoCCoordinacionResponse">
<part name="parameters" element="tns:NuevoCCoordinacionResponse"/>
</message>
<message name="EliminarDocenteAsesor">
<part name="parameters" element="tns:EliminarDocenteAsesor"/>
</message>
<message name="EliminarDocenteAsesorResponse">
<part name="parameters" element="tns:EliminarDocenteAsesorResponse"/>
</message>
<message name="MostrarInforme">
<part name="parameters" element="tns:MostrarInforme"/>
</message>
<message name="MostrarInformeResponse">
<part name="parameters" element="tns:MostrarInformeResponse"/>
</message>
<message name="NuevoEmpresa">
<part name="parameters" element="tns:NuevoEmpresa"/>
</message>
<message name="NuevoEmpresaResponse">
<part name="parameters" element="tns:NuevoEmpresaResponse"/>
</message>
<message name="ListarInforme">
<part name="parameters" element="tns:ListarInforme"/>
</message>
<message name="ListarInformeResponse">
<part name="parameters" element="tns:ListarInformeResponse"/>
</message>
<message name="ListarEmpresa">
<part name="parameters" element="tns:ListarEmpresa"/>
</message>
<message name="ListarEmpresaResponse">
<part name="parameters" element="tns:ListarEmpresaResponse"/>
</message>
<message name="NuevoInforme">
<part name="parameters" element="tns:NuevoInforme"/>
</message>
<message name="NuevoInformeResponse">
<part name="parameters" element="tns:NuevoInformeResponse"/>
</message>
<portType name="WS_SeguimientoPPP">
<operation name="ModificarCoordinacion">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarCoordinacionRequest" message="tns:ModificarCoordinacion"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarCoordinacionResponse" message="tns:ModificarCoordinacionResponse"/>
</operation>
<operation name="ModificarFichaSeguimiento">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarFichaSeguimientoRequest" message="tns:ModificarFichaSeguimiento"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarFichaSeguimientoResponse" message="tns:ModificarFichaSeguimientoResponse"/>
</operation>
<operation name="NuevoDocenteAsesor">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoDocenteAsesorRequest" message="tns:NuevoDocenteAsesor"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoDocenteAsesorResponse" message="tns:NuevoDocenteAsesorResponse"/>
</operation>
<operation name="EliminarCoordinacion">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarCoordinacionRequest" message="tns:EliminarCoordinacion"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarCoordinacionResponse" message="tns:EliminarCoordinacionResponse"/>
</operation>
<operation name="ModificarDocenteAsesor">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarDocenteAsesorRequest" message="tns:ModificarDocenteAsesor"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarDocenteAsesorResponse" message="tns:ModificarDocenteAsesorResponse"/>
</operation>
<operation name="MostrarDocenteAsesor">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarDocenteAsesorRequest" message="tns:MostrarDocenteAsesor"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarDocenteAsesorResponse" message="tns:MostrarDocenteAsesorResponse"/>
</operation>
<operation name="EliminarEmpresa">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarEmpresaRequest" message="tns:EliminarEmpresa"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarEmpresaResponse" message="tns:EliminarEmpresaResponse"/>
</operation>
<operation name="ListarDocenteAsesor">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ListarDocenteAsesorRequest" message="tns:ListarDocenteAsesor"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ListarDocenteAsesorResponse" message="tns:ListarDocenteAsesorResponse"/>
</operation>
<operation name="ModificarEmpresa">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarEmpresaRequest" message="tns:ModificarEmpresa"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarEmpresaResponse" message="tns:ModificarEmpresaResponse"/>
</operation>
<operation name="NuevoEstudiante">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoEstudianteRequest" message="tns:NuevoEstudiante"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoEstudianteResponse" message="tns:NuevoEstudianteResponse"/>
</operation>
<operation name="NuevoFichaSeguimiento">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoFichaSeguimientoRequest" message="tns:NuevoFichaSeguimiento"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoFichaSeguimientoResponse" message="tns:NuevoFichaSeguimientoResponse"/>
</operation>
<operation name="EliminarInforme">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarInformeRequest" message="tns:EliminarInforme"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarInformeResponse" message="tns:EliminarInformeResponse"/>
</operation>
<operation name="EliminarFichaSeguimiento">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarFichaSeguimientoRequest" message="tns:EliminarFichaSeguimiento"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarFichaSeguimientoResponse" message="tns:EliminarFichaSeguimientoResponse"/>
</operation>
<operation name="EliminarEstudiante">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarEstudianteRequest" message="tns:EliminarEstudiante"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarEstudianteResponse" message="tns:EliminarEstudianteResponse"/>
</operation>
<operation name="MostrarEstudiante">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarEstudianteRequest" message="tns:MostrarEstudiante"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarEstudianteResponse" message="tns:MostrarEstudianteResponse"/>
</operation>
<operation name="ListarFichaSeguimiento">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ListarFichaSeguimientoRequest" message="tns:ListarFichaSeguimiento"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ListarFichaSeguimientoResponse" message="tns:ListarFichaSeguimientoResponse"/>
</operation>
<operation name="MostrarEmpresa">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarEmpresaRequest" message="tns:MostrarEmpresa"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarEmpresaResponse" message="tns:MostrarEmpresaResponse"/>
</operation>
<operation name="MostrarFichaSeguimiento">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarFichaSeguimientoRequest" message="tns:MostrarFichaSeguimiento"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarFichaSeguimientoResponse" message="tns:MostrarFichaSeguimientoResponse"/>
</operation>
<operation name="ModificarEstudiante">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarEstudianteRequest" message="tns:ModificarEstudiante"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarEstudianteResponse" message="tns:ModificarEstudianteResponse"/>
</operation>
<operation name="ListarEstudiante">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ListarEstudianteRequest" message="tns:ListarEstudiante"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ListarEstudianteResponse" message="tns:ListarEstudianteResponse"/>
</operation>
<operation name="MostrarCoordinacio">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarCoordinacioRequest" message="tns:MostrarCoordinacio"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarCoordinacioResponse" message="tns:MostrarCoordinacioResponse"/>
</operation>
<operation name="ModificarInforme">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarInformeRequest" message="tns:ModificarInforme"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ModificarInformeResponse" message="tns:ModificarInformeResponse"/>
</operation>
<operation name="ListarCoordinacion">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ListarCoordinacionRequest" message="tns:ListarCoordinacion"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ListarCoordinacionResponse" message="tns:ListarCoordinacionResponse"/>
</operation>
<operation name="NuevoCCoordinacion">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoCCoordinacionRequest" message="tns:NuevoCCoordinacion"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoCCoordinacionResponse" message="tns:NuevoCCoordinacionResponse"/>
</operation>
<operation name="EliminarDocenteAsesor">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarDocenteAsesorRequest" message="tns:EliminarDocenteAsesor"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/EliminarDocenteAsesorResponse" message="tns:EliminarDocenteAsesorResponse"/>
</operation>
<operation name="MostrarInforme">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarInformeRequest" message="tns:MostrarInforme"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/MostrarInformeResponse" message="tns:MostrarInformeResponse"/>
</operation>
<operation name="NuevoEmpresa">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoEmpresaRequest" message="tns:NuevoEmpresa"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoEmpresaResponse" message="tns:NuevoEmpresaResponse"/>
</operation>
<operation name="ListarInforme">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ListarInformeRequest" message="tns:ListarInforme"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ListarInformeResponse" message="tns:ListarInformeResponse"/>
</operation>
<operation name="ListarEmpresa">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/ListarEmpresaRequest" message="tns:ListarEmpresa"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/ListarEmpresaResponse" message="tns:ListarEmpresaResponse"/>
</operation>
<operation name="NuevoInforme">
<input wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoInformeRequest" message="tns:NuevoInforme"/>
<output wsam:Action="http://Vista/WS_SeguimientoPPP/NuevoInformeResponse" message="tns:NuevoInformeResponse"/>
</operation>
</portType>
<binding name="WS_SeguimientoPPPPortBinding" type="tns:WS_SeguimientoPPP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ModificarCoordinacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarFichaSeguimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NuevoDocenteAsesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarCoordinacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarDocenteAsesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarDocenteAsesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarDocenteAsesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NuevoEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NuevoFichaSeguimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarInforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarFichaSeguimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarFichaSeguimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarFichaSeguimiento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarEstudiante">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarCoordinacio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarInforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarCoordinacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NuevoCCoordinacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarDocenteAsesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MostrarInforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NuevoEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarInforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListarEmpresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="NuevoInforme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WS_SeguimientoPPP">
<port name="WS_SeguimientoPPPPort" binding="tns:WS_SeguimientoPPPPortBinding">
<soap:address location="http://localhost:8080/SeguimientoPPP/WS_SeguimientoPPP"/>
</port>
</service>
</definitions>